<#assign ctx = request.contextPath />
<#macro head title charset="utf-8" lang="zh-CN">
    <!doctype html>
    <html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>${title}</title>
        <meta name="description" content="">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
              name="viewport">
        <meta name="renderer" content="webkit">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="${ctx!}/bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="${ctx!}/bower_components/bootstrap/dist/css/bootstrapSwitch.css"/>

        <!--<link rel="stylesheet" href="${ctx!}/bower_components/font-awesome/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="${ctx!}/bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="${ctx!}/styles/main.css">
        <link rel="stylesheet" href="${ctx!}/styles/css.css">
        <#nested/>
    </head>
    </html>
</#macro>

<#macro main>
    <body>
    <#nested/>
    </body>

    <script src="${ctx!}/bower_components/jquery/dist/jquery.js"></script>
    <script src="${ctx!}/bower_components/jquery/plugin/jquery.form.js"></script>
    <script src="${ctx!}/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="${ctx!}/bower_components/bootstrap/dist/js/bootstrapSwitch.js"></script>
    <script src="${ctx!}/scripts/vue.min.js"></script>
    <script src="${ctx!}/bower_components/jquery/dist/jquery.validate.min.js"></script>
    <script src="${ctx!}/scripts/common/common.js"></script>

    <script src="http://api.map.baidu.com/components?ak=I5uM0pRtvkzhq9YmjufKlVHq&v=1.0"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=I5uM0pRtvkzhq9YmjufKlVHq"></script>

</#macro>