
    <div class="container">
        <div class="template-page tpl-no col-xs-12 col-sm-12">
            <div class="wrap-content">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="gap-10"></div>
                    </div>
                    <!--end widget-->

                    <div class="col-sm-12">
                        <p style="text-align: center;">
                            <small><strong>©2015 郑州小黄豆软件科技有限公司</strong> - 一度网</small>
                        </p>
                    </div>

                    <div class="col-sm-12">
                        <div class="gap-10"></div>
                    </div>
                    <!--end widget-->
                </div>
                <!--end row-->

            </div>
            <!--end wrap-content-->
        </div>
        <!--end template-page-->
    </div>
    <!--end container-->
