.left-slider-hide-add, .left-slider-hide-remove {
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition:all linear 0.3s;
    margin-left:0px;
}

.left-slider-hide,
.left-slider-hide-add.left-slider-hide-add-active {
    margin-left:-100px;
}

.left-slider-hide-remove.left-slider-hide-remove-active {
    margin-left:0px;
}


.left-slider-show-add, .left-slider-show-remove {
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition:all linear 0.3s;
    margin-left:-100px;
}

.left-slider-show,
.left-slider-show-add.left-slider-show-add-active {
    margin-left:0px;
}

.left-slider-show-remove.left-slider-show-remove-active {
    margin-left:-100px;
}



.left-slider-hide-without-animate{
    margin-left:-100px;
}
