<div id="header-content">
    <div id="header-content-left" class="clearfix">
        <div id="navigation_content">
            <div id="st-trigger-effects" class="column">
                <button data-effect="st-effect-9" id="i-nav" ng-click="openSlider()"></button>
            </div>
        </div>
    </div>
    <div id="header-content-mid" class="clearfix" ng-click="closeSlider()">
        <div class="logo"></div>
    </div>
    <div id="header-content-right" class="clearfix non-display" ng-click="goToSearch()"><a href="">
        <div id="i-logreg"></div>
    </a></div>
    <h1></h1>
</div>