<header class="top-header clearfix">
    <div class="top-nav">
        <ul class="nav-left list-unstyled" style="width:20%;">
            <li class="{{itemShow}}">
                <a href="javascript:void(0)" ng-click="toggleSlider()"  class="toggle-min"><i class="ti-menu"></i></a>
            </li>

            <li class = "{{backShow}}">
                <a href="javascript:void(0)" ng-click="back()" class="toggle-min"><i class="ti-arrow-left"></i></a>
            </li>
        </ul>
        <ul class="nav-left list-unstyled" style="width:60%;">
            <li class="full-width text-center">
                <a href="javascript:void(0)" class="toggle-min">{{headerTitle}}</a>
            </li>
        </ul>
        <ul class="nav-right list-unstyled {{searchShow}}">
            <li>
                <a href="#/searchWechat" class="toggle-min"><i class="ti-search"></i></a>
            </li>
        </ul>
    </div>
</header>
