<nav class="st-menu st-effect-9" id="menu-9">
    <div class="logo"></div>
    <ul>
        <li> <a class="" href="#subject"> <div class="nav-icon nav-icon-home"></div>热门</a></li>
        <li> <a class="" href="#subscribe"> <div class="nav-icon nav-icon-portfolio"></div>订阅</a></li>
        <li> <a class="" href="#find"> <div class="nav-icon nav-icon-services"></div>发现</a></li>
        <li> <a class="" href="#personalCenter"> <div class="nav-icon nav-icon-galleryone"></div>个人中心</a></li>
    </ul>
</nav>