<div class="panel panel-default">
    <div class="panel-body">
            <div class="media">
                <div class="media-body position-relative height-64">
                    <label class="media-heading">{{article.title}}</label>
                    <br/>
                    <span class="position-absolute bottom-0">
                        <small>阅读数：{{article.readTimes}}</small>
                    </span>
                </div>
            </div>
            <div class="divider divider-dashed divider-sm pull-in"></div>
        <div class="media">
            <div class="media-body" ng-bind-html="article.content|to_trusted">
                <!--{{article.content}}-->
            </div>
        </div>
    </div>
</div>

