    <div class="nav container">
        <ul id = "filters" class="clearfix">
            <li ng-repeat="wechatType in wechatTypes" ng-click="toggleLevel($index)">
                <span ng-class="{active:$index==index}">{{wechatType.firstLevel.name}}</span>
            </li>
        </ul>
    </div>

    <div class="block clearfix">
        <div class="serv-servbox" ng-repeat="wechatSecondLevel in wechatSecondLevels"
             ng-click="goToFindWechat(wechatSecondLevel.id)">
            <div class="serv-serv-img" id="i-quality"></div>
            <h3>{{wechatSecondLevel.name}}</h3>
        </div>
    </div>
