<div class="panel panel-default">
    <div class="panel-body">
        <div class="row form-group">
            <div class="col-md-12">
                <input type="text" class="form-control" name="name" ng-model="keyword">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <button class="btn btn-success btn-block" ng-click="search()">搜索</button>
            </div>
        </div>

        <div ng-repeat="wechat in wechats">
            <div class="media pd-t5 pd-b5" ng-click="wechatDetail(wechat.id)">
                <a class="pull-left" href="javascript:;">
                    <img alt="" src="{{wechat.logo}}" class="img-rounded img64_64">
                </a>

                <div class="media-body position-relative height-64">
                    <label class="media-heading">{{wechat.name}}</label>
                    <a href="javascript:void(0);" ng-click="operateSubscribe(wechat.openId, wechat.sub, $index, $event)"
                       ng-class="getBtnClass(wechat.sub)"><i ng-class="getIconClass(wechat.sub)"></i></a>
                    <span class="position-absolute bottom-0">
                        <small>{{wechat.company}}</small>
                    </span>
                </div>
            </div>
            <div class="divider divider-dashed divider-sm pull-in"></div>
        </div>
    </div>
</div>