<div ng-repeat="wechatArticleModel in wechatArticleModels track by $index">
    <div class="bubble">
        <img src="{{wechatArticleModel.briefWechatModel.logo}}" class="img-circle">
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <div ng-repeat="briefArticleModel in wechatArticleModel.briefArticleModels" ng-click="goToDetail(article.id)" class="pd-t10">
                    <div class="media " class="flip-in">
                        <a class="pull-right" href="javascript:;">
                            <img alt="" src="{{briefArticleModel.logo}}" class="img64_64">
                        </a>

                        <div class="media-body  position-relative height-64">
                            <h5 class="media-heading">{{briefArticleModel.title}}</h5>
                            <br/>
                        </div>
                    </div>
                    <div class="divider divider-dashed divider-sm pull-in"></div>
                </div>

            </div>
        </div>
    </div>

</div>
<input type="hidden" ng-bind="{{pageNo}}"/>
<button ng-if="!last" ng-click="loadMore()" type="button" class="btn btn-default btn-block">
    加载更多
</button>
        </br>
