<div class="panel panel-default">
    <div class="panel-body">
        <div ng-class="{ 'non-display':showType!='time', 'media' : true}">
            <div class="media "  class="slide-down" ng-repeat="article in articles" ng-click="goToDetail(article.id)">
                <a class="pull-left" href="javascript:;">
                    <img alt="" src="{{article.logo}}" class="img-rounded img64_64">
                </a>

                <div class="media-body  position-relative height-64">
                    <label class="media-heading">{{article.title}}</label>
                    <br/>
                <span class="position-absolute bottom-0" style="width:100%;">
                     <small>{{article.wechat.company}}</small> <small class="pull-right">阅读：{{article.readTimes}}
                </small>
                </span>
                </div>
                <div class="divider divider-dashed divider-sm pull-in"></div>
            </div>
        </div>
        <input type="hidden" ng-bind="{{pageNo}}"/>
        <button ng-if="!last && showType=='time'" ng-click="loadMore()" type="button" class="btn btn-default btn-block">加载更多</button>

        <div ng-class="{ 'non-display': showType=='time', 'media':true}">
            <div class="media " class="slide-down" ng-repeat="wechat in wechats"ng-click="toWechatArticles(wechat.id, wechat.name)">
                <a class="pull-left" href="javascript:void(0);">
                    <img alt="" src="{{wechat.logo}}" class="img-rounded img64_64">
                </a>

                <div class="media-body  position-relative height-64">
                    <label class="media-heading">{{wechat.name}}</label>
                    <br/>
                <span class="position-absolute bottom-0" style="width:100%;">
                     <small>{{wechat.company}}</small>
                    </small>
                </span>
                </div>
                <div class="divider divider-dashed divider-sm pull-in"></div>
            </div>
        </div>
    </div>
</div>
