<div class="page page-table">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>文章管理</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="标题" class="form-control" ng-model="article.name">
                </div>

                <div class="col-sm-4">
                    <div class="btn-group">
                        <button id="group" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{subjectName}}<span class="caret"></span> </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="subject in subjects"><a href="javascript:void(0);" ng-click="setSubjectName(subject.name, subject.id)">{{subject.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-8">
                    <a href="#/articleAdd" class="btn btn-success btn-w-md">添加</a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <div class="th">
                        序号
                    </div>
                </th>
                <th>
                    <div class="th">
                        标题
                    </div>
                </th>
                <th>
                    <div class="th">
                        来源
                    </div>
                </th>
                <th>
                    <div class="th">
                        分类
                    </div>
                </th>
                <th>
                    <div class="th">
                        状态
                    </div>
                </th>
                <th>
                    <div class="th">
                        操作
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="articles==''">
                <td colspan="6" class="text-center">暂无数据</td>
            </tr>
            <tr dir-paginate="article in articles | itemsPerPage: pageSize" total-items="total" ng-if="!articles==''">
                <td>{{$index+1}}</td>
                <td>{{article.title}}</td>
                <td>{{article.wechat.name}}</td>
                <td>
                    <div class="btn-group">
                        <button ng-if="article.subject.name" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{article.subject.name}}
                            <span class="caret"></span>
                        </button>
                        <button ng-if="!article.subject.name" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            请选择分类
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="subject in subjects"><a href="javascript:void(0);" ng-click="changeSubject(article.id, subject.id, $parent.$index)">{{subject.name}}</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <span class="label label-success" ng-if="article.status=='published'">发布</span>
                    <span class="label label-danger" ng-if="article.status=='unpublished'">未发布</span>
                </td>
                <td>
                    <a href="javascript:void(0)" ng-if="article.status=='unpublished'" ng-click="publish(article.id, $index)" class="btn-icon btn-icon-sm btn-success" title="发布">
                        <span class="ti-plus"></span></a>

                    <a href="javascript:void(0)" ng-if="article.status=='published'" ng-click="unpublish(article.id, $index)" class="btn-icon btn-icon-sm btn-danger" title="下架">
                        <span class="ti-minus"></span></a>

                    <a href="#/articleDetail/{{article.id}}" class="btn-icon btn-icon-sm btn-warning" title="详情">
                        <span class="ti-info"></span></a>
                </td>
            </tr>

            <input type="hidden" ng-bind="{{currentPage}}"/>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-12 text-right pagination-container">
                    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                </div>
            </div>
        </footer>

    </section>
</div>